<script src="${ctxPath}/statics/libs/jquery/dist/jquery.min.js"></script>
<script src="${ctxPath}/statics/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="${ctxPath}/statics/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="${ctxPath}/statics/libs/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="${ctxPath}/statics/libs/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="${ctxPath}/statics/libs/moment/moment-with-locales.js"></script>
<script src="${ctxPath}/statics/libs/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="${ctxPath}/statics/libs/zTree_v3-master/js/jquery.ztree.all.js"></script>
<script src="${ctxPath}/statics/libs/layer/layer/layer.js"></script>
<script src="${ctxPath}/statics/libs/laydate/dist/laydate.js"></script>
<script src="${ctxPath}/statics/core/services/layer.service.js"></script>
<script src="${ctxPath}/statics/core/services/layDate.service.js"></script>
<script src="${ctxPath}/statics/core/services/validate.service.js"></script>
<script src="${ctxPath}/statics/core/services/table.service.js"></script>
<script src="${ctxPath}/statics/core/services/tree.service.js"></script>
<script src="${ctxPath}/statics/core/services/ajax.js"></script>
<script src="${ctxPath}/statics/core/services/common.service.js"></script>
<script src="${ctxPath}/statics/js/lib/function.js"></script>
<script src="${ctxPath}/statics/js/lib/personal.js"></script>
<script src="${ctxPath}/statics/js/vue.min.js"></script>
<script type="text/javascript">
    var Http = new HuaFeng.Http();
    var Layer = new HuaFeng.Layer();
    var ctxPath='${ctxPath}';
</script>
${layoutContent!}