    <link rel="stylesheet" href="${ctxPath}/statics/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${ctxPath}/statics/libs/bootstrap-table/dist/bootstrap-table.css" />
    <link rel="stylesheet" href="${ctxPath}/statics/libs/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="${ctxPath}/statics/asset/styles/app.css" />
    <link rel="stylesheet" href="${ctxPath}/statics/asset/styles/app.css" />
    <link rel="stylesheet" href="${ctxPath}/statics/css/login2.css" />
    ${layoutContent!}