<%
//标题
var title="智慧校园考勤系统";
%>

<%
//head模板，包含基础的样式，可以额外添加样式表和其他标签头
var headSection={ %>
<!--附加的头文件开始-->
<link rel="stylesheet" href="${ctxPath}/statics/css/index.css" />
<!--附加的头文件结束-->
<%};%>

<%
//导航栏模板，不用导航栏的可以去掉
var navSection={
%>
<!--导航栏开始-->
<% layout("/common/nav.html"){}%>
<!--导航栏结束-->
<%};%>

<%
//右侧正文模板
var contentSection={ %>
<!--正文开始-->
    <div class="box index-content-bg">
        <div id="particles-js"></div>
        <div class="fastEnter">
            <div class="title">
                <h4>快速入口</h4>
            </div>
            <ul class="fastEnterLists clearfix">
                <%if(shiro.hasPermission("base:datacount:page")){%>
                <li>
                    <a href="${ctxPath}/base/datacount.html">
                        <p class="fast-menu-sub">数据统计</p>
                        <p class="fast-menu">基础数据</p>
                        <i class="fa fa-ravelry"></i>
                    </a>
                </li>
                <%}%>
                <%if(shiro.hasPermission("attend:record:page")){%>
                <li>
                    <a href="${ctxPath}/attend/record.html">
                        <p class="fast-menu-sub">考勤信息</p>
                        <p class="fast-menu">考勤数据</p>
                        <i class="fa fa-address-card"></i>
                    </a>
                </li>
                <%}%>
                <%if(shiro.hasPermission("attend:errorlog:page")){%>
                <li>
                    <a href="${ctxPath}/attend/errorlog.html">
                        <p class="fast-menu-sub">考勤错误日志</p>
                        <p class="fast-menu">考勤数据</p>
                        <i class="fa fa-cubes"></i>
                    </a>
                </li>
                <%}%>
                <%if(shiro.hasPermission("attend:card:page")){%>
                <li>
                    <a href="${ctxPath}/attend/card.html">
                        <p class="fast-menu-sub">考勤卡管理</p>
                        <p class="fast-menu">考勤数据</p>
                        <i class="fa fa-support"></i>
                    </a>
                </li>
                <%}%>
                <%if(shiro.hasPermission("attend:machine:page")){%>
                <li>
                    <a href="${ctxPath}/attend/machine.html">
                        <p class="fast-menu-sub">考勤机管理</p>
                        <p class="fast-menu">考勤数据</p>
                        <i class="fa fa-university"></i>
                    </a>
                </li>
                <%}%>
                <%if(shiro.hasPermission("attend:rule:student:page")){%>
                <li>
                    <a href="${ctxPath}/attend/ruleStudent.html">
                        <p class="fast-menu-sub">学生考勤规则</p>
                        <p class="fast-menu">考勤数据</p>
                        <i class="fa fa-braille"></i>
                    </a>
                </li>
                <%}%>
                <%if(shiro.hasPermission("attend:summary:page")){%>
                <li>
                    <a href="${ctxPath}/attend/summary.html">
                        <p class="fast-menu-sub">考勤统计</p>
                        <p class="fast-menu">考勤数据</p>
                        <i class="fa fa-folder-open-o"></i>
                    </a>
                </li>
                <%}%>
                <%if(shiro.hasPermission("attend:custom:school:page")){%>
                <li>
                    <a href="${ctxPath}/attend/customschool.html">
                        <p class="fast-menu-sub">客服学校关联</p>
                        <p class="fast-menu">考勤数据</p>
                        <i class="fa fa-industry"></i>
                    </a>
                </li>
                <%}%>
                <%if(shiro.hasPermission("attend:syntool:page")){%>
                <li>
                    <a href="${ctxPath}/attend/synTool.html">
                        <p class="fast-menu-sub">同步工具</p>
                        <p class="fast-menu">考勤数据</p>
                        <i class="fa fa-line-chart"></i>
                    </a>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
<!--正文结束-->
<%};%>

<%
//脚本模板，包含基础的脚本
var scriptSection={
%>
<!--引入脚本开始-->
<script src="${ctxPath}/statics/libs/particles/js/particles.min.js"></script>
<script src="${ctxPath}/statics/js/index.js"></script>
<!--引入脚本结束-->
<%};%>

<%
//引入模板页
include("/layout/global.html",{"title":title,"headSection":headSection,"navSection":navSection,"contentSection":contentSection,"scriptSection":scriptSection}){}
%>
