<%
//标题
var title="智慧校园考勤系统";
%>

<%
//head模板，包含基础的样式，可以额外添加样式表和其他标签头
var headSection={ %>
<!--附加的头文件开始-->
<!--附加的头文件结束-->
<%};%>

<%
//导航栏模板，不用导航栏的可以去掉
var navSection={
%>
<!--导航栏开始-->
<% layout("/common/nav.html"){%>
<li><a href="${ctxPath}/sys/user.html">用户管理</a></li>
<%
var name="";
if(isAdd)
{
    name="新增";
}
else
{
    name="编辑";
}
%>
<li>${name}</li>


<%}%>
<!--导航栏结束-->
<%};%>

<%
//右侧正文模板
var contentSection={ %>
<!--正文开始-->
<div class="p-t-10">
    <form id="commentForm" role="form">
        <input type="hidden" name="userId" value="${user.userId!}" id="keyId" />
        <ul class="form-list">
            <li>
                <label>用户名称<span class="required">*</span></label>
                <div class="form-list-control">
                    <input class="input-w-300" type="text" name="userName" placeholder="请输入用户名称" autofocus required value="${user.userName!}">
                </div>
            </li>
            <li>
                <label>登录账号<span class="required">*</span></label>
                <div class="form-list-control">
                    <input class="input-w-300" type="text" name="account" placeholder="请输入登录账号" value="${user.account!}"  required/>
                </div>
            </li>
            <li>
                <% if(isAdd){%>
                <label>登录密码<span class="required"></span></label>
                <%}else{%>
                <label>登录密码</label>
                <%}%>
                <div class="form-list-control">
                    <input class="input-w-300" type="password" name="passwords" placeholder="请输入登录密码"  value="${user.passwords!}">
                    <p class="tips">${passTip!}</p>
                </div>
            </li>
            <li>
                <label>用户身份<span class="required">*</span></label>
                <div class="form-list-control">
                    <div class="select-group">
                        <select name="userType" id="userType">
                            <option value="1">学生</option>
                            <option value="2">教师</option>
                            <option value="3">家长</option>
                            <option value="4" selected>客服</option>
                        </select>
                    </div>
                </div>
            </li>
            <li>
                <label>所在学校<span class="required">*</span></label>
                <div class="form-list-control">
                    <input class="input-w-300 input-select" type="text" name="schoolName" id="schoolName"  value="${user.schoolName!}" required />
                    <input type="hidden" name="schoolCode" id="schoolCode" value="${user.schoolCode!}" />
                </div>
            </li>
            <li>
                <label>账号状态</label>
                <div class="form-list-control">
                    <div class="radio-inline">
                        <label><input type="radio" name="status" value="1"> 启用</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="status" value="0"> 停用</label>
                    </div>
                </div>
            </li>
            <li class="form-list-btn">
                <%if(shiro.hasPermission("sys:user:add") || shiro.hasPermission("sys:user:edit")){%>
                <button id="btn-submit" type="submit" class="btn btn-info btn-sm">确认</button>
                <%}%>
                <button id="btn-cancel" type="button" class="btn btn-default btn-sm">取消</button>
            </li>
        </ul>
    </form>
</div>
<!--正文结束-->
<%};%>

<%
//脚本模板，包含基础的脚本
var scriptSection={
%>
<!--引入脚本开始-->
<script src="${ctxPath}/statics/js/sys/user_add.js?v=${date().time}"></script>
<script>
    function init() {
        $('#userType').val('${user.userType!4}');
        setUserType('${user.userType!4}');
        $('#schoolCode').val('${user.schoolCode!}');
        $('#schoolName').val('${user.schoolName!}');
        $(":radio[name='status'][value='${user.status!1}']").prop("checked", "checked");
    }
    init();
</script>
<!--引入脚本结束-->
<%};%>

<%
//引入模板页
include("/layout/global.html",{"title":title,"headSection":headSection,"navSection":navSection,"contentSection":contentSection,"scriptSection":scriptSection}){}
%>